/* styles specific to the app page */

/* navigation bar styling  */
.nav--container {
  display: flex;
  justify-content: space-between;
  font-family: 'Oxygen', sans-serif;
}
.nav--links {
  display: flex;
  margin-top: 2.5rem;
  margin-right: 4.6875rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.navLink--style {
  list-style-type: none;
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
}

.navLink--style:hover {
  color: #a486e4;
}
/* CSS Styling of Left Side Circles  */
.circles-container-left {
  height: 513px;
  width: 352px;
  position: absolute;
  top: 15%;
  left: 0;
  transform: translateX(-30%);
}

.circles-container-left .circles-group-left {
  height: 513px;
  left: 0;
  position: fixed;
  top: 0;
  width: 352px;
}

.circles-container-left .overlap-left {
  height: 513px;
  position: relative;
}

.circles-container-left .overlap-group-left {
  height: 513px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.circles-container-left .ellipse-left {
  background-color: #86dee4;
  border-radius: 93.5px;
  height: 187px;
  left: 165px;
  position: absolute;
  top: 166px;
  width: 187px;
}

.circles-container-left .ellipse-2-left {
  background-color: #86e4b1;
  border-radius: 93.5px;
  height: 187px;
  left: 36px;
  position: absolute;
  top: 326px;
  width: 187px;
}

.circles-container-left .ellipse-3-left {
  background-color: #8786e4;
  border-radius: 129.5px;
  height: 259px;
  left: 0;
  position: absolute;
  top: 0;
  width: 259px;
}

.circles-container-left .ellipse-4-left {
  background-color: #86abe4;
  border-radius: 48px;
  height: 96px;
  left: 256px;
  position: absolute;
  top: 358px;
  width: 96px;
}

/* CSS Styling of Circles Right Side of Page */
.circles-container-right {
  height: 513px;
  width: 352px;
  position: absolute;
  top: 15%;
  right: 0;
  transform: translateX(30%);
}

.circles-container-right .circles-group-right {
  height: 513px;
  left: 0;
  position: fixed;
  top: 0;
  transform: rotate(180deg);
  width: 352px;
}

.circles-container-right .overlap-right {
  height: 513px;
  position: relative;
}

.circles-container-right .overlap-group-right {
  height: 513px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.circles-container-right .ellipse-right {
  background-color: #86dee4;
  border-radius: 93.5px;
  height: 187px;
  left: 165px;
  position: absolute;
  top: 160px;
  width: 187px;
}

.circles-container-right .ellipse-2-right {
  background-color: #86e4b1;
  border-radius: 93.5px;
  height: 187px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 187px;
}

.circles-container-right .ellipse-3-right {
  background-color: #8786e4;
  border-radius: 129.5px;
  height: 259px;
  left: 0;
  position: absolute;
  top: 254px;
  width: 259px;
}

.circles-container-right .ellipse-4-right {
  background-color: #86abe4;
  border-radius: 48px;
  height: 96px;
  left: 256px;
  position: absolute;
  top: 59px;
  width: 96px;
}

/* Media Queries for different screen sizes */
@media (min-width: 640px) {
}
/* @media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }
@media (min-width: 1280px) { ... }
@media (min-width: 1536px) { ... } */
