.res--text h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}

.res--text h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  align-items: left;
  text-align: left;
}

.res--text p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  align-items: left;
  text-align: left;
}

.sub-head-left {
  align-items: left;
  text-align: left;
}

.sub-head-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.sub-head-right p {
  align-items: center;
}

.row {
  display: flex;
}
.row p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.row h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.column2 {
  flex: 50%;
}
.column {
  flex: 50%;
}
.column2 p {
  text-align: center;
}

.resources--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 6rem;
  border-radius: 4rem;
  background-color: #d8e8f2;
  box-shadow: 0px 4px 4px #00000040;
}

.resources--container h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.resources--container a {
  color: black;
}
